Web/Service References/ServiceReference1/MapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getmapen">
        <s:complexType />
      </s:element>
      <s:element name="getmapenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getmapenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getmapenbyCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categories" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getmapenbyCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getmapenbyCategoriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getmapenSoapIn">
    <wsdl:part name="parameters" element="tns:getmapen" />
  </wsdl:message>
  <wsdl:message name="getmapenSoapOut">
    <wsdl:part name="parameters" element="tns:getmapenResponse" />
  </wsdl:message>
  <wsdl:message name="getmapenbyCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:getmapenbyCategories" />
  </wsdl:message>
  <wsdl:message name="getmapenbyCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:getmapenbyCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="MapServiceSoap">
    <wsdl:operation name="getmapen">
      <wsdl:input message="tns:getmapenSoapIn" />
      <wsdl:output message="tns:getmapenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getmapenbyCategories">
      <wsdl:input message="tns:getmapenbyCategoriesSoapIn" />
      <wsdl:output message="tns:getmapenbyCategoriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MapServiceSoap" type="tns:MapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getmapen">
      <soap:operation soapAction="http://tempuri.org/getmapen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmapenbyCategories">
      <soap:operation soapAction="http://tempuri.org/getmapenbyCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MapServiceSoap12" type="tns:MapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getmapen">
      <soap12:operation soapAction="http://tempuri.org/getmapen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmapenbyCategories">
      <soap12:operation soapAction="http://tempuri.org/getmapenbyCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapService">
    <wsdl:port name="MapServiceSoap" binding="tns:MapServiceSoap">
      <soap:address location="http://localhost:56971/WebServices/MapService.asmx" />
    </wsdl:port>
    <wsdl:port name="MapServiceSoap12" binding="tns:MapServiceSoap12">
      <soap12:address location="http://localhost:56971/WebServices/MapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>